$font-icons: 'fa-solid';
$font-icons-brands: 'fa-brands';

@font-face {
  font-family: $font-icons;
  font-style: normal;
  font-weight: 900;
  src: url("fonts/font-awesome/fa-solid-900.eot");
  src: url("fonts/font-awesome/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("fonts/font-awesome/fa-solid-900.woff2") format("woff2"), url("fonts/font-awesome/fa-solid-900.woff") format("woff"), url("fonts/font-awesome/fa-solid-900.ttf") format("truetype"), url("fonts/font-awesome/fa-solid-900.svg#fontawesome") format("svg"); }

 @font-face {
  font-family: $font-icons-brands;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/font-awesome/fa-brands-400.eot");
  src: url("fonts/font-awesome/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("fonts/font-awesome/fa-brands-400.woff2") format("woff2"), url("fonts/font-awesome/fa-brands-400.woff") format("woff"), url("fonts/font-awesome/fa-brands-400.ttf") format("truetype"), url("fonts/font-awesome/fa-brands-400.svg#fontawesome") format("svg"); }

[class*="icon-"]:before,
[class*="icon-after-"]:after {
  font-family: $font-icons;
  display: inline-block;
  font-size: inherit;
}

[class*="icon-brand-"]:before,
[class*="icon-brand-after-"]:after {
  font-family: $font-icons-brands;
  display: inline-block;
  font-size: inherit;
}

.icon-adjust:before {
  content: "\f042";
}