@media only screen and (max-width : 768px) {
  #header {
    font-size: 17px;
  }

  .calculator {
    width: 20em;
    
    .btn {
      font-size: 14px;
    }
  }

  .total {
    font-size: 37px;
  }

  .column {
    width: 100%;
  }
}