@media only screen and (max-width : 768px) {
  #header {
    font-size: 17px;
  }

  .calculator .btn,
  .calculator {
    font-size: 14px;
  }

  .total {
    font-size: 38px;
  }

  .column {
    width: 100%;
  }
}